# Python
__pycache__/
venv/

# Emacs
*.py~

# System
.DS_Store

# Phrase
*test*
*archived*

# Extension
*.sqlite3

# Folder
webapp/static/profile_pictures/*
!webapp/static/profile_pictures/default.jpg
webapp/static/material/*
.Trash/
