# Python
__pycache__/
venv/

# Emacs
*.py~

# System
.DS_Store

# Phrase
*-test-*

# Extension
*.sqlite3

# Folder
webapp/static/profile_pictures/*
!webapp/static/profile_pictures/.gitkeep
webapp/static/material/*
!webapp/static/material/.gitkeep
.Trash/
