body {
  background: #1E2127;
  color: #87B966;
}

input[type=text], select, textarea {
  width: 15em;
  padding: 0.6em;
  border: 0.05em solid #ccc;
  border-radius: 0.2em;
  background-color: #e6e6fa;
  display: inline-block;
  resize: vertical;
}

input[type=password], select, textarea {
  width: 15em;
  padding: 0.6em;
  border: 0.05em solid #ccc;
  border-radius: 0.2em;
  background-color: #e6e6fa;
  display: inline-block;
  resize: vertical;
}

input[type=submit], select, textarea {
  width: 15em;
  padding: 0.6em;
  background-color: #48A8B5;
  border: 0.05em solid #ccc;
  border-color: #518DDA;
  display: inline-block;
  resize: vertical;
}

.container {
  text-align: center;
}

a:link, a:visited {
  color: (internal value);
  text-decoration: underline;
  cursor: auto;
}
a:link:active, a:visited:active {
  color: (internal value);
}
