{% from "_render_field.html" import render_string_field_like %}
{% extends "base.html" %}
{% block navbar %}
  <a href="{{ url_for('tasks.task', task_id=task.id) }}">&lt {{ task.name }}</a>
{% endblock navbar %}
{% block body %}
  <div class="border-round bg-black spaced">
    <div class="bb-grey mb-4 pb-25">
      <a href="{{ url_for('users.profile', username=comment.author.username) }}">
        <img class="rounded-circle img-tiny" src="{{ url_for('static', filename='profile_pictures/' + comment.author.image_file) }}" alt="profile picture">
        {{ comment.author.username }}
      </a>
      <span class="text-muted">
        <small>{{ comment.time_updated.strftime('%H:%M %d.%m.%Y') }}</small>
      </span>
      {% if comment.author == current_user %}
        <span class="float-right">
          <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('tasks.add_comment_upload', comment_id=comment.id) }}">Manage Uploads</a>
          <div><a class="btn btn-danger btn-sm m-1 float-right" href="{{ url_for('tasks.delete_comment', comment_id=comment.id) }}">Delete</a></div>
        </span>
      {% endif %}
    </div>
    {% if comment.author == current_user %}
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.csrf_token() }}
        {{ render_string_field_like(form.content) }}
        <br>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info inline") }}
        </div>
      </form>
    {% else %}
      <p>{{comment.comment}}</p>
    {% endif %}
    <br>
    {% for material in comment.material %}
      <span class="ml">
        <a href="{{ url_for('tasks.uploaded_file', filename=material.filename) }}">{{ material.orignial_name }}</a><br>
      </span>
    {% endfor %}
  </div>
{% endblock body %}
