{% extends "base.html" %}
{% block navbar %}
  <a href="{{ url_for('tasks.schedule') }}">&lt Schedule</a>
{% endblock navbar %}
{% block body %}

  <section id="configurations">
    <h1>Configurations</h1>
    <a href="{{ url_for('main.add_subject')}} ">Add a Subject</a><br>
    <a href="{{ url_for('tasks.add_task')}} ">Add a Task</a><br>
  </section>

  <section id="editors">
    <h1>Editors</h1>
    {% for editor in editors %}
      <div>
        <a href="{{ url_for('users.profile', username=editor.username)}} ">{{ editor.username }}</a>
      </div>
    {% endfor %}
  </section>

{% endblock body %}
