{% extends "base.html" %}
{% block navbar %}
  <a href="{{ url_for('tasks.schedule') }}">&lt Schedule</a>
{% endblock navbar %}
{% block body %}

  <section id="configurations">
    <h1>Configurations</h1>
    <a href="{{ url_for('main.add_subject')}} ">Add a Subject</a><br>
    <a href="{{ url_for('tasks.add_task')}} ">Add a Task</a><br>
  </section><br>

  <section id="editors">
    <h1>Editors</h1>
    {% for editor in editors %}
      <div>
        <a href="{{ url_for('users.profile', username=editor.username)}} ">{{ editor.username }}</a>
      </div>
    {% endfor %}
  </section>

  <section id="users">
    {% if current_user.status == 'god_mode' %}
      <h1>Users</h1>
      {% for user in users %}
        <span>
          <a href="{{ url_for('users.profile', username=user.username)}} ">{{ user.username }}</a> &emsp;
        </span>
      {% endfor %}
    {% endif %}
  </section>

{% endblock body %}
