{% from "_render_field.html" import render_string_field_like, render_upload_field_like %}
{% extends "base.html" %}
{% block navbar %}
  <a href="{{ url_for('tasks.schedule') }}">&lt Schedule</a>
{% endblock navbar %}
{% block body %}
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ image_file }}" alt="profile picture">
      <div class="media-body">
        <h1 class="inline">{{user.username}}</h1><br>
        email: <em>{{ user.email }}</em><br>
        {% if current_user.username == user.username and current_user.status != 'user' %}
          status: <a href="{{ url_for('main.config') }}">{{user.status}}</a>
        {% else %}
          status: {{ user.status }}
        {% endif %}
      </div>
    </div>
    {% if form %}
      <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ render_string_field_like(form.username) }}
            {{ render_string_field_like(form.email) }}
            {{ render_upload_field_like(form.picture) }}
          </fieldset>
          <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
          </div>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock body %}
