{% extends "base.html" %}
{% block body %}

<section id=add_new_task>
  <h1 class="inline">Tasks |<a href="{{ url_for('tasks.add_task') }}" class="button">+</a></h1>
</section>

<section id=table_of_tasks>
  <div class="mt-2 spaced">
    {% for task in schedule|sort(attribute='deadline') %}
      <div class="mt-1 mb-1">
        <a href="{{ url_for('tasks.task', task_id=task.id) }}">
          {{ task.name }}
          <span class="float-right"> {{ task.deadline.strftime('%d.%m.%Y %H:%M') }} </span>
        </a>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock body %}
