{% extends "base.html" %}
{% block navbar %}
  <a href="{{ url_for('tasks.schedule') }}">&lt Schedule</a>
{% endblock navbar %}
{% block body %}

  <section id=title>
    <h1 class="inline">{{ task.name }}</h1>
    <span class="text-muted">{{ subject.name }}</span><br><br>
    {{ task.description }}<br>
    <p>deadline: {{ task.deadline.strftime('%d.%m.%Y %H:%M') }}</p>
  </section>

  <section id=comment>
    <h2 class="inline">Comments |
      <a href="{{ url_for('tasks.add_comment_content', task_id=task.id) }}" class=button>+</a>
    </h2>
    {% for comment in task.comment|reverse %}
      <div class="border-round bg-black mt-2 spaced">
        <div class="bb-grey mb-4">
          <a href="{{ url_for('users.profile', username=comment.author.username) }}">
            <img class="rounded-circle img-tiny" src="{{ url_for('static', filename='profile_pictures/' + comment.author.image_file) }}" alt="profile picture">
            {{ comment.author.username }}
          </a>
          <span class="text-muted">
            <small>{{ comment.time_updated.strftime('%H:%M %d.%m.%Y') }}</small>
          </span>
          <a href="{{ url_for('tasks.comment', comment_id=comment.id) }}" class="btn btn-secondary btn-sm m-1 float-right">View</a>
        </div>
        <p>{{ comment.comment }}</p>
        {% for material in comment.material %}
          <div>
            <a href="{{ url_for('tasks.uploaded_file', filename=material.filename) }}">{{ material.orignial_name }}</a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </section>
{% endblock body %}
