:root{
  font-size: 16px;
  --text-primary: white;
  --bg-primary: #1E2127;
}

body {
  font-size: 1rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
  background: #3E4147;
}

section {
  display: block;
}

h1{
  font-size: 2rem;
  color: #C20253;
}

h2{
  font-size: 1.5rem;
  color: #B75CD5;
}
h3{
  font-size: 1.45rem;
}

a:link, a:visited {
  color: #blue;
  text-decoration: none;
}
a:link:active, a:visited:active {
  color: #97C976;
}

tr:hover {background-color: #272A31;}

th, td {
  border-bottom: 0px solid #ddd;
}

.bg-black{
  background-color: black;
}

.border-round{
  border: 1px solid black;
  border-radius:5px;
}

hr{
  border: 1px solid white;
}

.wrap{
  width: 600px;
  margin: auto;
  background: #1a1a1a;
}

h1, h2, h3, h4, h5, h6{
  display: inline;
}

.mt{
  margin-top: 5px;
}

.mb{
  margin-bottom: 5px;
}

.spaced{
  padding: 10px;
}

.ml{
  margin-left: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #1E2127;
}

.float_right{
  float: right;
}

.profile-picture{
  width: 200px;
}
