body {
  background: #1E2127;
  color: #87B966;
  font: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 5em
}

section {
  display: block;
}

h1{
font-size: 30px;
}

a:link, a:visited {
  color: #97C976;
  text-decoration: none;
}
a:link:active, a:visited:active {
  color: #97C976;
}

tr:hover {background-color: #272A31;}

th, td {
  border-bottom: 0px solid #ddd;
}
