body {
  background: #1E2127;
  color: #87B966;
  font-size: 1.25em;
}

section {
  display: block;
}

h1{
  font-size: 2em;
  color: #C20253;
}

h2{
  font-size: 1.5em;
  color: #B75CD5;
}
h3{
  font-size: 1.25em;
}

a:link, a:visited {
  color: #97C976;
  text-decoration: none;
}
a:link:active, a:visited:active {
  color: #97C976;
}

tr:hover {background-color: #272A31;}

th, td {
  border-bottom: 0px solid #ddd;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #1E2127;
  overflow: hidden;
  border-bottom: 0.1em solid #333;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
