{% extends "base.html" %}
{% block head %}

<title>Schedule</title>

<style>
  td{
    font-size: 20;
  }
  .container {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 0%);
  }
</style>

{% endblock %}
{% block body %}

<div class='container'>
  <h1>Tasks</h1>
  <table>
    {% for task in schedule %}
      <tr>
        <td><a href="{{ url_for('task', id=task[0])}}">{{ task[2] }}</a></td>
        <td>{{ task[1] }}</td>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
