{% macro render_string_field_like(field) %}
  <div class="form-group">
    {{ field.label(class="form-control-label") }}
    {% if field.errors %}
      {{ field(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in field.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ field(class="form-control form-control-lg") }}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_upload_field_like(field) %}
  <div class="form-group">
    {{ field.label() }}
    {{ field(class="form-control-file") }}
    {% if field.errors %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span><br>
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}
