{% from "_render_field.html" import render_string_field_like %}
{% extends "base.html" %}
{% block body %}

<section id=add_new_task>
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <fieldset>
      {{ render_string_field_like(form.title) }}
      {{ render_string_field_like(form.description) }}
      <div class="form-group">
        {{ form.deadline_date.label() }}<br>
        {{ form.deadline_date }}
        {{ form.deadline_time }}
      </div>
      <div class="form-group">
        {{ form.subject.label() }}<br>
        {{ form.subject }}
      </div>
      </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</section>

{% endblock body %}
