{% extends "base.html" %}
{% block body %}
  <div class="content-section">
    <fieldset class="form-group">
      <form method="POST" enctype=multipart/form-data>
        {{ form.upload.hidden_tag() }}
        {{ form.upload.csrf_token() }}
        <div class="form-group">
          {% if form.upload.upload.errors %}
            {{ form.upload.upload(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.upload.upload.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.upload.upload(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          <input type="submit" name="add" value="Add" class="btn btn-outline-info">
        </div>
      </form>
      {% for filename in form.vars %}
        <div class="border-round spaced mb mt">
          {{ filename }}
        </div>
      {% endfor %}
      <form method="POST" action="">
        {{ form.comment.hidden_tag() }}
        {{ form.comment.csrf_token() }}
        <div class="form-group">
          {{ form.comment.title.label(class="form-control-label") }}
          {% if form.comment.title.errors %}
            {{ form.comment.title(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.comment.title.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.comment.title(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.comment.content.label(class="form-control-label") }}
          {% if form.comment.content.errors %}
            {{ form.comment.content(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.comment.content.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.comment.content(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          <input type="submit" name="comment" value="Comment" class="btn btn-outline-info">
        </div>
      </form>
    </fieldset>
  </div>
{% endblock body %}
