{% from "_render_field.html" import render_string_field_like, render_upload_field_like %}
{% extends "base.html" %}
{% block body %}
  <div class="content-section">
    <form method="POST" enctype=multipart/form-data>
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ legend }}</legend>
        {{ form.upload.hidden_tag() }}
        {{ form.upload.csrf_token() }}
        {{ render_upload_field_like(form.upload.upload) }}
        <div class="form-group">
          <input type="submit" name="add" value="Add" class="btn btn-outline-info">
        </div>
      </fieldset>
    </form>
    <section id="cached files">
      {% for filename in session['file_chache'] %}
        <div class="border-round spaced mb mt">
          {{ filename }}
        </div>
      {% endfor %}
    </section>
    <fieldset class="form-group">
      <form method="POST" action="">
        {{ form.comment.hidden_tag() }}
        {{ form.comment.csrf_token() }}

        {{ render_string_field_like(form.comment.content) }}

        <div class="form-group">
          <input type="submit" name="comment" value="Comment" class="btn btn-outline-info">
        </div>
      </form>
    </fieldset>
  </div>
{% endblock body %}
