{% extends "base.html" %}
{% block body %}

<section id="admins">
  <h1 class="inline">Admins</h1><br>
  {% for admin in admins %}
    {{ admin.username }}
  {% endfor %}
</section>

<section id="add_subject">
  <h1 class="inline">Add Subject</h1>
  <form action="" method="POST">
    <input type="text" name="name" placeholder="subject">
    <input type="submit" value="Add"><br>
  </form><br>
</section>

<section id="editors">
  <a href="{{ url_for('tasks.add_task')}} ">Add a Task</a>
</section>

{% endblock body %}
