{% extends "base.html" %}
{% block body %}

<section id=title>
  <h1>{{ task.name }}</h1>
  <span class="text-muted">{{ subject.name }}</span><br><br>
  {{ task.description }}<br><br>
</section>

<section id=comment>
  <h2>Comments |
    <a href="{{ url_for('add_comment', task_id=task.id) }}" class=button>+</a>
  </h2>
</section>

<section id=table_comments>
  {% for comment in task.comment %}
    <div class="border-round bg-black mt mb spaced">
      <h3>{{ comment.title }}</h3>
      <span class="text-muted">
        <small>{{ comment.time_added.strftime('%H:%M %d.%m.%Y') }}</small>
      </span>
      <br><br>
      <p>{{ comment.comment }}</p>
      <p>{{ comment.material.filename }}</p>
    </div>
  {% endfor %}
</section>
{% endblock body %}
