{% extends "base.html" %}
{% block body %}

<section id=title>
  <h1>{{ task.name }}</h1>
  <span class="text-muted">{{ subject.name }}</span><br><br>
  {{ task.description }}<br>
  <p>deadline: {{ task.deadline.strftime('%d.%m.%Y %H:%M') }}</p>
</section>

<section id=comment>
  <h2>Comments |
    <a href="{{ url_for('add_comment', task_id=task.id) }}" class=button>+</a>
  </h2>
  {% for comment in task.comment %}
    <div class="border-round bg-black mt mb spaced">
      <div class="bb-grey mb">
        <img class="rounded-circle img-tiny" src="{{ url_for('static', filename='profile_pictures/' + comment.author.image_file) }}" alt="profile picture">
        <span class="">
          <a href="{{url_for('profile')}}">{{ comment.author.username }}</a>
          <span class="text-muted">
            <small>{{ comment.time_added.strftime('%H:%M %d.%m.%Y') }}</small>
          </span>
        </span>
      </div>
      <h3>{{ comment.title }}</h3>
      <p>{{ comment.comment }}</p>
      {% for material in comment.material %}
        <span class="ml">
          <a href="{{ url_for('uploaded_file', filename=material.filename) }}">{{ material.filename }}</a><br>
        </span>
      {% endfor %}
    </div>
  {% endfor %}
</section>
{% endblock body %}
