<!DOCTYPE html>

{% extends "base.html" %}
{% block head %}

<title>Task</title>

{% endblock %}
{% block body %}

<section id=title>
  <h1>{{ subject.name }} | {{ task.name }}</h1>
  {{ task.description }}<br>
</section>

<section id=upload>
  <h2>Uploads |
    <a href="{{ url_for('upload_file', task_id=task.id) }}" class=button>+</a>
  </h2>
</section>

<section id=table>
  <table>
    {% for material in material_list %}
      <tr>
        <td>
          <a href="{{ url_for('uploaded_file', filename=material.filename)}}">
            {{ material.filename }} |
            {{ material.time_added.strftime('%H:%M %d.%m.%Y') }}
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>
</section>

{% endblock %}
