:root{
  font-size: 16px;
  --text-primary: white;
  --bg-primary: #1a1a1a;
  --bg-secondary: #1E2127;
}

body {
  font-size: 1rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
  background: #3E4147;
}

section{
  display: block;
}

h1{
  font-size: 2rem;
  color: #C20253;
}

h2{
  font-size: 1.8rem;
  color: #B75CD5;
}
h3{
  font-size: 1.6rem;
}

a:link, a:visited{
  text-decoration: none;
}
a:link:active, a:visited:active {
  color: #97C976;
}

tr:hover {background-color: #272A31;}

/* th, td {
  border-bottom: 0px solid #ddd;
} */

.bg-black{
  background-color: black;
}

.border-round{
  border: 1px solid black;
  border-radius:5px;
}

hr{
  border: 1px solid white;
}

.inline{
  display: inline;
}

.mt{
  margin-top: 5px;
}

.spaced{
  padding: 10px;
}

.pb-25{
  padding-bottom: 25px;
}

.ml{
  margin-left: 20px;
}

/* Add a black background color to the top navigation */
.navigation-bar {
  background-color: black;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navigation-bar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.875em 1.25em;
  height: 3.5em
}

/* Change the color of links on hover */
.navigation-bar a:hover{
  background-color: #1E2127;
}

.float-right{
  float: right;
}

.account-img{
  height: 10rem;
  width: 10rem;
  margin: 0 1.25rem 1rem 0;
}

.img-tiny{
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 0.5rem 0.4rem 0;
}

.bb-grey{
  border-bottom: 1px solid #17191F;
}

.wrap{
  padding: 10px;
}

@media (min-width: 700px){
  .wrap{
    width: 60%;
    margin: auto;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--bg-primary);
  }

  body{
    background-color: var(--bg-secondary)
  }

  .navigation-bar {
    top: 0;
  }

  .navbar-space{
    margin-top: 4em;
    margin-bottom: 0.5em;
  }
}

@media (max-width: 700px){
  .navigation-bar {
    bottom: 0;
  }

  .navbar-space{
    margin-top: 0.5em;
    margin-bottom: 3.5em;
  }
}
